<h1>Stephanie Buchanan</h1>
<p> Just Steph</p>
<br> Things about me: </br>
<p> Born in Stuttgart, Germany
<p> Hometown: El Paso, TX
<br><underline> Current Playlist </underline>
<p> Why are we not perfect  Jesu
  <br> Dead Eyes </italic> Jesu
